html, body {
    height:100%;
    width:100%;
    padding:0;
    margin:0;
    background-color:rgb(255, 255, 255);
}
.max_header {
    display:flex;
    flex:1;
    width:100%;
    height:130px;
    background-color:#ffffff;
    border-bottom: 4px solid #FE4F70;
    transition: all 0.5s ease-out;
}
.logo_wrapper {
    display:flex;
    height:100%;
    flex: 0 0 220px;
    background-size: 200px;
    transition: all 0.5s ease-out;
    align-items:center;
    justify-content:center;
}
.logo_btn {
    display:flex;
    height:90%;
    width:90%;
    align-items:center;
    justify-content:center;
    transition: all 0.5s ease-out;
    border-radius:14px;
    background-image: url(../img/max-knox-logo.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 200px;
    overflow:hidden;
}
.logo_btn_merch {
    display:flex;
    height:90%;
    width:90%;
    align-items:center;
    justify-content:center;
    transition: all 0.5s ease-out;
    border-radius:14px;
    background-image: url(../img/max-knox-merch.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 200px;
    overflow:hidden;
}
.logo_btn:hover {
    background-color:#ededed;
    transition: all 0.5s ease-out;
    cursor:pointer;
}
.nav_wrapper {
    display:flex;
    flex-flow:column;
    height:100%;
    flex:1;
    padding:10px;
    transition: all 0.5s ease-out;
}
.nav_upper {
    display:flex;
    height:34%;
    width:100%;
    flex-flow:row;
    align-items:center;
    justify-content:flex-end;
}
.nav_lower {
    display:flex;
    height:66%;
    width:100%;
    flex-flow:row;
    align-items:center;
    justify-content:flex-end;
}
.mr-20 {
    margin-right:20px;
}
.mr-10 {
    margin-right:10px;
}
.brand_icon {
    display:flex;
    padding:5px;
    background-color:#FE4F70;
    border-radius:3px;
}
.brand_icon i {
    font-size:12px;
    color:white;
}
.brand_icon svg {
    width:25px;
    height:25px;
    fill:white;
}
.brand_icon:hover {
    background-color:#303030;
    transition: all 0.5s ease-out;
    cursor:pointer;
}
.brand_icon:hover > i { 
    color: #FE4F70; 
}
.brand_info {
    display:flex;
    align-items:center;
    justify-content:center;
    padding:5px;
    background-color:#ffffff;
    border-radius:3px;
    transition: all 0.5s ease-out;
}
.brand_info i {
    font-size:12px;
    margin-left:5px;
    margin-right:8px;
    font-weight:400;
    margin-top:2px;
}
.brand_info small { 
    font-family: 'Montserrat', sans-serif;
    font-weight:700;
    font-size:10px;
}
.brand_info:hover {
    background-color:#FE4F70;
    transition: all 0.5s ease-out;
    cursor:pointer;
}
.brand_info:hover > i { 
    color: #ffffff; 
}
.brand_info:hover > small { 
    color: #ffffff; 
}
.donate_wrap {
    display:flex;
    width:130px;
    height:100%;
    align-items:center;
    justify-content:center;
}
.donate_btn {
    display:flex;
    padding: 8px 24px;
    background-color: #FE4F70;
    border-radius:7px;
    align-items:center;
    justify-content:center;
    border: 4px solid #d63c58;
    transition: all 0.5s ease-out;
    text-decoration:none;
}
.donate_btn span {
    font-family: 'Montserrat', sans-serif;
    font-weight:700;
    color:white;
}
.donate_btn:hover {
    background-color:#ffffff;
    transition: all 0.5s ease-out;
    cursor:pointer;
}
.donate_btn:hover > span { 
    color: #FE4F70; 
}
.nav-item a {
    font-family: 'Montserrat', sans-serif;
    font-weight:800;
    text-transform:capitalize !important;
    font-size:12px;
    color:rgb(51, 51, 51);
}
.navbar-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    color:#F5B233;
}
.fpr_search {
    margin-left:12px;
    transition: all 0.5s ease-out;
}
.nav_toggle_wrap {
    display:none;
}
.nav_toggle_wrap i {
    display:none;
}
@media (max-width:870px)  { 
    .fpr_search {
       display:none;
    }
    .brand_info {
        display:none;
    }  
    .brand_info {
        display:none;
    }  
    .nav_toggle_wrap {
        display:none;
    }
    .nav_toggle_wrap i {
        display:none;
    }
}

@media (max-width:765px)  { 
    .nav_toggle_wrap i {
        display:flex;
        background-color:#FE4F70;
        align-items:center;
        justify-content:center;
        height:100%;
        font-weight:700;
        border-radius:4px;
        color:white;
    }
    .nav_toggle_wrap {
        display:flex;
        height:100%;
        width:50px;
        align-items:center;
        justify-content:center;
    }  
}

@media (orientation: portrait) {
    .logo_btn {
        display:flex;
        height:90%;
        width:90%;
        align-items:center;
        justify-content:center;
        transition: all 0.5s ease-out;
        border-radius:14px;
        background-image: url(../img/max-knox-logo.svg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
        overflow:hidden;
    }
    .logo_wrapper {
        display:flex;
        height:100%;
        flex: 1;
        background-size: contain;
        transition: all 0.5s ease-out;
        align-items:center;
        justify-content:center;
    }
    .nav_toggle_wrap {
        display:flex;
        height:100%;
        width:50px;
        align-items:center;
        justify-content:center;
    }
    .nav_toggle_wrap i {
        display:flex;
        background-color:#FE4F70;
        align-items:center;
        justify-content:center;
        height:100%;
        font-weight:700;
        border-radius:4px;
        color:white;
    }
    .navbar {
        display:flex;
        position:absolute;
        top:130px;
        left:0;
        right:0;
        margin:0 auto;
        height:50vh;
        overflow-x:hidden;
        overflow-y:scroll;
        padding-bottom:20px;
        z-index:2147483644;
    }
    .brand_info {
        display:none;
    }
}